* {
    margin: 0%;
    padding: 0%;
}

body {
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    background-color: #F9FAF8;
    width: 100%;
    margin: 0 auto;

}

header {
    display: inline-block;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 160PX;
    padding-right: 160PX;
    padding-top: 20px;
    background-color: #1F2937
}

.header {
    font-size: 18px;
    color: #F9FAF8;
}

a {
    padding-left: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}


.header-links,
a {
    display: inline-flex;
    margin-right: auto;
    float: right;
}

.group1 {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;

}


.textgroup h1,
.first {
    font-size: 36px;
    font: bold;
    color: #E5E7EB;
    margin-left: 100;
}

img {
    height: 20rem;
    margin-right: 100;
}

.textgroup {
    color: #F9FAF8;
}

.textgroup h1 {
    font-size: 48px;
}

button {
    display: block;
    color: #F9FAF8;
    background-color: #3882f6;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border-color: #3882f6;
    font-size: 16px;
}

.group2 {

    font-size: 32px;
    font: bolder;
    color: #1F2937;
    background-color: #F9FAF8;


}

.subtext {
    display: inline;
}

.aboutme {
    display: grid;
    justify-content: center;
}



.subtext img {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}


.group2>.title2 {
    display: block;

    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
}

.subtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;

}


.quote {
    width: 100%;
    margin: -10;
}

.group3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding-left: 200px;
    padding-right: 200px;
}

.group4 {
    display: flex;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;

}

.container-sign {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    width: 700px;
    border-radius: 30px;
    padding: 70px;
    color: #F9FAF8;
    height: 10px
}

.container-sign>p {
    display: block;
}

.bold {
    font-weight: bold;
}

.click-link {
    display: flex;
    align-items: center;

}



footer {

    display: flex;
    align-items: center;
    justify-content: center;
}