* {
    margin: 0%;
    padding: 0%;
}

body {
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    background-color: #f7c65dfd;
    width: 100%;
    margin: 0 auto;

}

header {
    display: inline-flex;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 160PX;
    padding-right: 160PX;
    padding-top: 20px;
    background-color: #1F2937
}

h1 {
    font-size: 36px;
    color: #f7c65dfd;
}

a {
    padding-left: 50px;
    color: #f7c65dfd;
    text-decoration: none;
    display: flex;
    font-size: 26px;
}


.header-links,
a {
    display: inline-flex;
    margin-right: auto;
    float: right;
}

.group1 {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;

}


.textgroup h1,
.first {
    font-size: 36px;
    font: bold;
    color: #f7c65dfd;
    margin-left: 100;
}

img {
    height: 20rem;
    margin-right: 100;
    transition-duration: 1s;
}

.textgroup {
    color: #f7c65dfd;
}

.textgroup h1 {
    font-size: 48px;
}

button {
    display: block;
    color: #f7c65dfd;
    background-color: #3882f6;
    height: 50px;
    width: 100px;
    margin: 30px;
    border-radius: 25px;
    border-color: #3882f6;
    font-size: 16px;
}

.group2 {

    font-size: 32px;
    font: bolder;
    color: #1F2937;
    background-color: #f7c65dfd;
    height: 400px;



}

sidebar {
    background-color: #40d47efd;
    width: 20%;
    padding-left: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 300px;
    z-index: 3;
}

#list {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul>li {
    display: flex;
    list-style: none;
    padding: 20px;
}

.group2>.title2 {
    display: block;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-right: 300px;
    padding-bottom: 30px;

}


.div1 {
    display: flex;
    background-color: red;
    padding-left: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 300px;
    width: 500px;
    z-index: 2;
    position: absolute;


    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-right: 30px;
}

div2 {
    display: flex;
    background-color: rgb(0, 238, 255);
    padding-left: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 300px;
    width: 1000px;
    z-index: 1;


    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-right: 30px;

}


div1>ul>li {
    list-style: none;
    padding-left: 380px;
    list-style: none;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.group3 {
    background-color: #f7c65dfd;
    font-size: 36px;
    font-style: italic;
    padding-left: 200px;
    padding-right: 200px;
}

.group4 {
    display: flex;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;

}

.container-sign {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    width: 700px;
    border-radius: 30px;
    padding: 70px;
    color: #F9FAF8;
    height: 10px
}

.container-sign>p {
    display: block;
}

.bold {
    font-weight: bold;
}

.click-link {
    display: flex;
    align-items: center;

}



footer {

    display: flex;
    align-items: center;
    justify-content: center;
}


.red {
    color: #40d47efd;
}


.fader {
    filter: blur(6px);
}

.aboutme p {

    position: absolute;
    font-size: large;
}